{% extends "layout2.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='add_user.css')}}">
<div class="container">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="card shadow">
            <fieldset class="form-group">
            <div class="form-group">
                {{ form.first_name.label(class="form-control-label label fw-semibold")}}
                {% if form.first_name.errors %}
                {{ form.first_name(class="form-control form-control-sm is-invalid")}}
                <div class="invalid-feedback">
                {%for error in form.first_name.errors %}
                <span>{{error}}</span>
                {%endfor%}
                </div>
                {%else%}
                {{ form.first_name(class="form-control form-control-sm name")}}
                {%endif%}
            </div>
            <div class="form-group">
                {{ form.last_name.label(class="form-control-label label fw-semibold")}}
                {% if form.last_name.errors %}
                {{ form.last_name(class="form-control form-control-sm is-invalid")}}
                <div class="invalid-feedback">
                {%for error in form.last_name.errors %}
                <span>{{error}}</span>
                {%endfor%}
                </div>
                {%else%}
                {{ form.last_name(class="form-control form-control-sm name")}}
                {%endif%}
            </div>
            <div class="form-group">
                {{ form.uni_number.label(class="form-control-label label fw-semibold")}}
                {% if form.uni_number.errors %}
                {{ form.uni_number(class="form-control form-control-sm is-invalid")}}
                <div class="invalid-feedback">
                {%for error in form.uni_number.errors %}
                <span>{{error}}</span>
                {%endfor%}
                </div>
                {%else%}
                {{ form.uni_number(class="form-control form-control-sm name")}}
                {%endif%}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label label fw-semibold")}}
                {% if form.email.errors %}
                {{ form.email(class="form-control form-control-sm is-invalid")}}
                <div class="invalid-feedback">
                {%for error in form.email.errors %}
                <span>{{error}}</span>
                {%endfor%}
                </div>
                {%else%}
                {{ form.email(class="form-control form-control-sm name")}}
                {%endif%}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label label fw-semibold")}}
                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-sm is-invalid")}}
                <div class="invalid-feedback">
                {%for error in form.password.errors %}
                <span>{{error}}</span>
                {%endfor%}
                </div>
                {%else%}
                {{ form.password(class="form-control form-control-sm name")}}
                {%endif%}
            </div>
            <div class="form-group">
                {{ form.account_type.label(class="form-control-label label fw-semibold")}}
                {% if form.account_type.errors %}
                {{ form.account_type(class="form-control form-control-sm is-invalid")}}
                <div class="invalid-feedback">
                {%for error in form.account_type.errors %}
                <span>{{error}}</span>
                {%endfor%}
                </div>
                {%else%}
                {{ form.account_type(class="form-control form-control-sm name")}}
                {%endif%}
            </div>
                <center><div class="form-group">{{ form.submit(class="btn add-button fw-semibold")}}</div></center>
            </fieldset>
        </div>
    </form>
</div>
{% endblock %}
