{% extends "layout2.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='add_course.css')}}">
<div class="container">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="card shadow">
            <fieldset class="form-group">
            <div class="form-group">
                {{ form.name.label(class="form-control-label label fw-semibold")}}
                {% if form.name.errors %}
                {{ form.name(class="form-control form-control-sm is-invalid")}}
                <div class="invalid-feedback">
                {%for error in form.name.errors %}
                <span>{{error}}</span>
                {%endfor%}
                </div>
                {%else%}
                {{ form.name(class="form-control form-control-sm name")}}
                {%endif%}
            </div>
            <div class="form-group">
                {{ form.author_id.label(class="form-control-label label fw-semibold")}}
                {% if form.author_id.errors %}
                {{ form.author_id(class="form-control form-control-sm is-invalid")}}
                <div class="invalid-feedback ">
                {%for error in form.author_id.errors %}
                <span>{{error}}</span>
                {%endfor%}
                </div>
                {%else%}
                {{ form.author_id(class="form-control form-control-sm author_id")}}
                {%endif%}
                <center><div class="form-group">{{ form.submit(class="btn add-button fw-semibold")}}</div></center>
            </fieldset>
            </form>
        </div>
    </div>
{% endblock %}