{% extends "layout2.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='course_details.css')}}">
<h2 class="name-label fw-bold">{{course.course_name}}</h2>
<hr class="custom-hr">
<div class="course-details">
    <div class="qr-section">
        <img src="{{ url_for('static', filename='qr_codes/course_' ~ course.id ~ '.png') }}" alt="QR Code">
    </div>

    <div class="students-section">
        <h3>Enrolled Students</h3>
        <input type="text" id="searchInput" placeholder="ابحث عن طالب" class="form-control mb-3" autocomplete="off">

        <ul id="studentsList">
            {% if students %}
            {% for student in students %}
            <li class="student-item" data-name="{{ student.first_name }} {{ student.last_name }}" data-id="{{ student.uni_number }}">
                <span class="student-id fw-bold">{{student.uni_number}}</span>
                <span class="student-name fw-bold">{{student.first_name}} {{student.last_name}}</span>
                <span class="attendance-status" id="attendance-status-{{ student.id }}" style="color: {% if student_statuses[student.id] == 'حاضر'%} green {% else %} red {% endif %};">
                    {% if student_statuses[student.id] == 'حاضر' %} حاضر {% else %} غائب {% endif %}
                </span>
                {% if student_statuses[student.id] == 'غائب' %}
                <span>
                <button class="mark-attendance-btn btn btn-success" 
                        data-student-id="{{student.id}}" 
                        data-course-id="{{course.id}}">
                    تسجيل الحضور 
                </button>
                
                {% else %}
                <button disabled class="mark-attendance-btn btn btn-success" 
                        data-student-id="{{student.id}}" 
                        data-course-id="{{course.id}}">
                        ✔ تم تسجيل الحضور
                </button>
                {% endif %}
                <button class="mark-absent-btn btn btn-danger" 
                        data-student-id="{{student.id}}" 
                        data-course-id="{{course.id}}">
                    تسجيل الغياب 
                </button>
            </span>
            </li>
            {% endfor %}
            {% else %}
            <center class="fw-bold" style="margin: auto !important; color: #162d44;">No enrolled students</center>
            {% endif %}
        </ul>
        <center>
            <div class="button-container">
                <a href="{{url_for('add_student', course_id=course.id)}}" class="add-student btn btn-info">Add Student</a>
                <a href="{{url_for('course_attendance', course_id=course.id)}}" class="add-student btn btn-info">See Attendance</a>
            </div>
        </center>        
    </div>
</div>
<script src="{{url_for('static',filename='script.js')}}"></script>

<script>
    document.getElementById('searchInput').addEventListener('input', function() {
        const searchQuery = this.value.toLowerCase();
        const students = document.querySelectorAll('.student-item');

        students.forEach(function(student) {
            const studentName = student.getAttribute('data-name').toLowerCase();
            const studentId = student.getAttribute('data-id').toLowerCase();

            if (studentName.includes(searchQuery) || studentId.includes(searchQuery)) {
                student.style.display = '';
            } else {
                student.style.display = 'none';
            }
        });
    });
</script>
<script>
    setInterval(function() {
    let userResponse = confirm("انتهت صلاحية الـqr code , هل تريد اظهار كود اخر؟");
    if (userResponse) {
        location.reload();
    }
}, 300000);

</script>
{% endblock %}
