.card {
    display: flex;
    flex-direction: column;
    padding: 20px !important;
    justify-content: center !important;
    margin-top: 270px;
    width: 35rem !important;
    height: 700px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    padding-top: 0 !important;
}

.form-group {
    display: block !important;
    margin-bottom: 20px;
}

input[type="text"], .form-control {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

button {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.vertical-stack {
    display: block;
    width: 100%;
}

.name {
    height: 2.5rem !important;
    margin-bottom: 15px !important;
}

.name {
    margin-bottom: 2rem !important;
}


.label {
    color: #4c5a73;
    margin-bottom: 5px !important;
}

.add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px #162d44 solid;
    padding-bottom: 10px !important;
    line-height: normal;
    width: 130px !important;
}

.add-button:hover {
    color: rgb(236,236,236);
    background-color: #162d44;
    text-decoration: none !important;
    box-shadow: 1px 3px 8px #162d44;
}

@media screen and (max-width: 768px) {
    .card {
        display: flex;
        justify-content: center;
        padding: 20px !important;
        margin-top: 350px;
        width: 20rem !important;
        height: 710px;
    }
}
.upload-card{
    display: flex;
    flex-direction: column;
    padding: 20px !important;
    justify-content: center !important;
    margin-top: 100px;
    width: 35rem !important;
    height: 300px;
}
.enroll-button{
    width: 10rem !important;
    margin-top: 2rem;
}
.register-button{
    width: 10rem !important;
    margin-top: 2rem;
}
